// LAYOUT STYLES
.app {
  display: flex;
  min-width: calc(100vw - 1rem - 1rem);
}

.main {
  flex: 1;
  padding: 1rem;
  margin-left: 15rem;
}


// SIDEBAR

.sidebar {
  position: fixed;
  width: 15rem;
  // min-width: 10rem;
  height: 100vh;
  background: $c-cornflowerblue;
  box-shadow: 0.2rem 0.2rem 0.4rem $c-shadow;

  &__header {
    margin: 0;
    padding: 0.5rem 1rem;
    background: $c-aliceblue;
    font-size: 1.5rem;
    box-shadow: 0 10px 2px 10px 0 $c-shadow;
  }
}


// GRID

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__item {
    flex-basis: calc(100% / 3 - 1rem - 1rem);
    flex-grow: 1;
    margin: 1rem;
  }
}
