// @import 'yoga';
// @import 'normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';




// COLORS
$c-aliceblue: #e6f4fd;
$c-cornflowerblue: #44b0f1;
$c-darkseagreen: #69c37d;
$c-tomato: #ee3f41;
$c-whitesmoke: #e0e0e0;
$c-shadow: rgba(0, 0, 0, 0.2);


@import 'box-sizing';
@import 'resets';
@import 'layout';
@import 'contact';
